<div class="image-detail-container">
    <div class="image-container">
        <img src="{{this.data.deletefile}}">
    </div>
    <div class="col2">
        <div id="metadata">
            <h1>
                File Name: 
            </h1>
            <p>
                Link: <a href="{{this.data.deletefile}}">Link</a>
            </p>
            <p>
                Created:
            </p>
            
        </div>
        <div>
            <button id="delete">
                Delete
            </button>
        </div>
    </div>
    

</div>