<!DOCTYPE html>    
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <div class="present">
                <div class="lid">
                    <span></span>
                </div>
                <div class="promo">
                    <p>Merry Christmas,</p>
                    <div id="name">{{this.userName}}</div>
                                <!---will create button with ternary operator and click function--->
                <button (click)="onclick()" type="button" class="btn  btn-danger">
                    {{ReadMore?"Hide Gif":"Click to see the Gif!"}}
                </button>
  
              <!--will create if condition my default it will
                b hide on click it will toggle--->
                <div>
                <ng-container *ngIf="visible">
                    <iframe src="https://giphy.com/embed/R7AW255ijTdV6" width="300" height="288" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/christmas-winter-phmwMLY1kkkMg"></a></p>
                    
                </ng-container>
                </div>
  
                        
                   
                 
                   
                    
                
                </div>
                <div class="box">
                    <span></span>
                    <span></span>
                </div>
            </div>
        
      
    </body>

</html>
