<!DOCTYPE html>    
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <div class="present">
                <div class="lid">
                    <span></span>
                </div>
                <div class="promo">
                    <p>Merry Christmas,</p>
                    <div id="name">{{this.userName}}</div>
                </div>
                <div class="box">
                    <span></span>
                    <span></span>
                </div>
            </div>
        
      
    </body>

</html>
