body {
    background-color: #eee;
  }
  .gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .gallery-item{
    display:grid;
    place-items: center;   
    border-radius: 4px;
    padding: 4px 4px 4px 4px;
    width: 150px;
    height: 150px;
  }
  .content{
    display:grid;
    place-items: center;
  }
  img{  
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
    object-fit: cover;
  }
  img:hover {
    box-shadow: 0 0 32px #333;
  }
